.btn-sign-up,.btn-sign-up-contrast{
    width: 22rem!important;
    padding: 2rem 3rem;
    border-radius: 10px!important;
}
.btn-sign-up,.btn-sign-up-contrast:hover{
    box-shadow: inset 22em 0 0 0 var(--contrast)!important;
}

.cta-hung img{
    border: 1px solid var(--main);
    border-radius: 50%;
}
.cta-hung{
    margin: auto;
    transform: translateY(-30px);
    background-color: #f1f3fd;
    padding: 0.9rem 2rem;
    border-radius: 5rem;
    width: 24rem;
    box-shadow: 11px 12px 17px -3px #acb1cf;
}
.text-main {
    font-weight: 900;
}

.cta{
    background-image: url("https://res.cloudinary.com/tanvo/image/upload/v1676478944/medlangfanatic/HomePage/home-hero_q3jph5.jpg");
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 3.2rem;
    font-weight: 800;
}
.sub{
    font-size: 3.2rem;
    font-weight: 700;
}