.signUp{
    background-color: var(--contrast);
    color: var(--main)!important;
    border-radius: 40px;
    padding: 10px 15px;
    font-weight: 600;
    transition: transform 0.3s;
}

.signUp:hover{
    transform: translateY(-3px);
    transition: transform 0.3s;
}

.signIpMavl:hover{
    background-color: #7dfdd6;
}
.signUpMt:hover{
    background-color: #fffa8e;
}

.search{
    width: 33rem;
}

.dropdown a{
    color: var(--main);
}
.dropdown a:hover, .dropdown a:focus{
    color: var(--main);
}

.ads{
    background-color: rgb(170, 235, 234);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.3s;
}

@media only screen and (max-width: 600px) {
  .search{
        width: 20rem;
    }
    .ads{
        font-size: 13px;
        height: 5.5rem;
    }
}